<%- include('../partials/header') %>

<h1>Collection</h1>
  <table>
      <thead>
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Dimensions</th>
            <th>Location</th>
            <th>Medium</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        <%  arts.forEach(function(a) { %>
            <tr>
                <td><%= a.artist %></td>
                <td><%= a.title %></td>
                <td><%= a.dimensions %></td>
                <td><%= a.location %></td>
                <td><%= a.medium  %></td>
                <td><%= a.year  %></td>
                <form action="arts/<%= a._id %>?_method=DELETE" class='delete-form' method="POST">
                    <button type='submit'>X</button>
                </form>
            </tr>
        <% }) %> 
    </tbody>
</table>

<%- include('../partials/footer') %>



   



