

<%- include('../partials/header') %>
<!-- <form class="card" style="width: 18rem;" action="/arts" method='POST'> -->
    
    <table class="table">
        <thead class="table-light">
           <tr>
              <th>Artist</th>
              <th>Title</th>
              <th>Dimensions</th>
              <th>Location</th>
              <th>Medium</th>
              <th>Year</th>
          </tr>
      </thead>
  
      <tbody>

              <tr>
                  <td><%= art.artist %></td>
                  <td><%= art.title %></td>
                  <td><%= art.dimensions%></td>
                  <td><%= art.location%></td>
                  <td><%= art.medium %> </td>
                  <td><%= art.year %> </td>
                  <td><%= art.favoritedBy %> </td>
             </tr>
      </tbody>
    </table>
<!-- </form> -->

<%- include('../partials/footer') %>