

<%- include('../partials/header') %>
<!-- <form class="card" style="width: 18rem;" action="/arts" method='POST'> -->
    
    <table class="table">
        <thead class="table-light">
           <tr>
              <th>Artist</th>
              <th>Title</th>
              <th>Dimensions</th>
              <th>Location</th>
              <th>Medium</th>
              <th>Year</th>
          </tr>
      </thead>
  
      <tbody>

              <tr>
                  <td><%= art.artist %></td>
                  <td><%= art.title %></td>
                  <td><%= art.dimensions%></td>
                  <td><%= art.location%></td>
                  <td><%= art.medium %> </td>
                  <td><%= art.year %> </td>
                  <td><%= art.favoritedBy %> </td>
             </tr>
      </tbody>
    </table>
    
 <% art.reviews.forEach(function(r) { %> 

     <td><%= r.rating %></td>
    <td><%= r.content %> </td>
    <% }) %> 
    

<form action="/arts/<%= art._id %>/reviews" method="POST">
   
    <input type="text" name="reviewer" hidden value="<%= user._id %>">
   
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
   
    <input type="text" name="content">
   <button type="submit">Add Review</button>
    </form>


<button><a href="/arts/<%=art._id %>/edit"></a>Update</button>


<!-- </form> -->



<%- include('../partials/footer') %>